.colorPicker-container{
  width: 75%;
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;

 
}
.preview-color{
    border: 1px  white;
    
    margin: 1rem;
    margin: 1rem;
    width: 80%;
    border-radius: 0.2rem;
    background-color: black;
}
.color-cell {
  width: 32px;
  height: 32px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-radius: 0.5rem;

}
.color-picker-grid{
  display: grid;
  grid-template-columns: repeat(5, 32px);
  grid-template-rows: repeat(2, 32px);
  margin: 0.5rem;
  gap:2px;

}
.clear-btn{
    color: white;
    background-color: black;
    border-radius: 0.5rem;
    width: 80%;
    margin: 1rem;
 
}

.color-msg{
    color:gray;
    font-size: 12px;
    word-wrap: break-word;
}
.colorPicker-container h1{
    color:black;
    font-size: 18px;
}

