.header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  align-items: center;
  padding: 1rem;
}

.nav-link {
  margin-left: 15px;
  color: white;
  text-decoration: none;
  border-width: 2px;
  border-style: dashed;
  background-color: black;
  border-radius: 5px;
  padding: 5px
}

.nav-link:hover {
  text-decoration: underline;
}

.dark-mode {
  background-color: black;
  color: white;
}